<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>재난안전관리 회원가입</title>
    <link rel="stylesheet" href="singup.css" />
  </head>
  <body>
    <form action="/sign_up" method="post">
    <div id="header">
      <a href="" target="_blank" title="재난안전관리 프로젝트 페이지 보러가기"
        >회원가입</a
      >
    </div>
    <div id="wrapper">
      <div id="content">
        <h3 class="join_title"><label for="id">이름</label></h3>
        <input
          type="text"
          id="id"
          class="int"
          placeholder="이름"
          maxlength="20"
        />

        <h3 class="join_title"><label for="pswd1">비밀번호</label></h3>
        <input
          type="password"
          id="pswd1"
          class="int"
          placeholder="비밀번호"
          maxlength="20"
        />

        <h3 class="join_title"><label for="pswd2">비밀번호 재확인</label></h3>
        <input
          type="password"
          id="pswd2"
          class="int"
          placeholder="비밀번호 재확인"
          maxlength="20"
        />

        <h3 class="join_title"><label for="email">주소</label></h3>
        <input
          type="email"
          id="email"
          class="int"
          placeholder="상세주소까지 작성해주세요"
          maxlength="100"
        />

        <h3 class="join_title"><label for="mobile">휴대전화</label></h3>
        <input
          type="tel"
          id="mobile"
          class="int"
          placeholder="전화번호 입력"
          maxlength="16"
        />

        <div class="btn_area">
          <button type="submit" id="btnJoin">가입하기</button>
        </div>
      </div>
    </div>
  </form>
    <script src="main.js"></script>
  </body>
</html>
